<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Your show time details<br>
  --------------------------
</p>
<p>Channel Name: <%= @channel_name  %></p>
<p>Show Name: <%= @show_name %></p>
<p>Show timing: <%= @show_time  %></p>
</body>
</html>